<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load bootstrap5 %}

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    {% block title %}{% endblock title %}
  </title>
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" href="{% static 'manager/css/manager_styles.css' %}" />
  <link href="https://fonts.maateen.me/bangla/font.css" rel="stylesheet" />
  <script src="https://cdn.lordicon.com//libs/frhvbuzj/lord-icon-2.0.2.js"></script>
</head>

<body>
  {% include 'md_header.html' %}

  <main class="px-3 py-3">
    {% include 'md_sidebar.html' %}
    {% block content %} {% endblock content %}
  </main>
  {% include 'md_footer.html' %}
  <script src="{% static 'manager/js/manager_main.js' %}"></script>
</body>

</html>