{% extends 'md_base.html' %}

{%block title%}
DASHBOARD
{%endblock title%}

{% block content%}
<div class="container-fluid">
    <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div id="dashboard" class="pt-5 min-vh-100">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                    </div>
                    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                        <span data-feather="calendar"></span>
                        This week
                    </button>
                </div>
            </div>
            <div class="row" data-masonry='{"percentPosition": true }''>
                <div class="col-sm-6 col-lg-4 mb-4">
                    <div class="card text-center">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has a regular title and short paragraph of text below it.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 mb-4">
                    <div class="card text-center">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has a regular title and short paragraph of text below it.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 mb-4">
                    <div class="card text-center">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has a regular title and short paragraph of text below it.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                  </div>
            </div>
        </div>


        <div id="products" class="pt-5 min-vh-100">
            <div class="border-bottom">
                <h2>Products</h2>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Generic Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Available</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in products %}
                        <tr>
                            <td>{{ i.id }}</td>
                            <td>{{ i.name }}</td>
                            <td>{{ i.generic_name }}</td>
                            <td>{{ i.price }}</td>
                            <td>text</td>
                            <td><button>Edit</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <div id="customers" class="pt-5 min-vh-100">
            <div class="border-bottom">
                <h2>Customers</h2>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Address</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in customers %}
                        <tr>
                            <td>{{ i.id }}</td>
                            <td>{{ i.name }}</td>
                            <td>{{ i.phone }}</td>
                            <td>{{ i.address }}</td>
                            <td><button>Edit</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <div id="reports" class="pt-5 min-vh-100">
            <div class="border-bottom">
                <h2>Reports</h2>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Status</th>
                            <th scope="col">Total</th>
                            <th scope="col">Available</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in reports %}
                        <tr>
                            <td>{{ i.id }}</td>
                            <td>{{ i.customer }}</td>
                            <td>{{ i.status }}</td>
                            <td>{{ i.total }}</td>
                            <td>text</td>
                            <td><button>Edit</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
{% endblock content%}