{% extends 'md_base.html' %}
{% load bootstrap5 %}

{% block title %}
INVOICE
{% endblock title %}

{% block content%}
<div class="container-fluid">
    <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="row">
            <form action="" method="POST" id="add">
                {% csrf_token %}
                {% bootstrap_form productform %}
                {% buttons %}
                <button type="submit" class="btn btn-pill">
                    <lord-icon src="https://cdn.lordicon.com//mecwbjnp.json" trigger="click" stroke="200"
                        style="width:100px;height:100px">
                    </lord-icon>
                </button>
                {% endbuttons %}
            </form>

            <form class="" action="">
                {% csrf_token %}
                {% bootstrap_form customerform %}
            </form>
            <div>
                <table class="table">
                    <tr>
                        <th>Sl No.</th>
                        <th>Product Name</th>
                        <th>Rate</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Ace</td>
                        <td>80.00</td>
                        <td>1</td>
                        <td>80.00</td>
                    </tr>
                    <tr>
                        <th colspan="5" style="text-align: center;">+</th>
                    </tr>
                </table>
                {% buttons %}
                <a class="btn btn-secondary" href="{% url 'preview_pdf_invoice' %}">preview</a>
                {% endbuttons %}
                {% buttons %}
                <a class="btn btn-primary" href="{% url 'download_pdf_invoice' %}">Download</a>
                {% endbuttons %}
            </div>
        </div>
    </div>
</div>
{%endblock content %}