<!DOCTYPE html>
<html lang="en">
{% load static%}
{% load bootstrap5 %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock title %}
    </title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'hello_world/css/hw_styles.css' %}">
    <script src="https://kit.fontawesome.com/c3f28cff7e.js" crossorigin="anonymous"></script>

</head>

<body class="d-flex flex-column h-100">
    {% include 'hw_header.html' %}
    <main class="px-3 py-3">
        {% block content %} {% endblock content %}
    </main>
    {% include 'hw_footer.html' %}
</body>

</html>