{% load static %}
{% block header %}
<header class="p-3">
    <nav class="fixed-top bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="{% url 'index' %}"
                    class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    GreenStone-R
                </a>
                <button class="navbar-toggler position-absolute d-md-none collapsed" type="button"
                    data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#features" class="nav-link px-2 text-white">Features</a></li>
                    <li><a href="#pricing" class="nav-link px-2 text-white">Pricing</a></li>
                    <li><a href="#faqs" class="nav-link px-2 text-white">FAQs</a></li>
                    <li><a href="#about" class="nav-link px-2 text-white">About</a></li>
                </ul>
                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2">Login</button>
                    <button type="button" class="btn btn-warning">Register</button>
                </div>
            </div>
        </div>
    </nav>
</header>
{% endblock %}