{% extends 'hw_base.html' %}
{% load bootstrap5 %}

{% block title %}
Register
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row-cols-auto">
        <h1 class="text-center border-bottom">
            Register here
        </h1>

        <form action="" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input class="w-100 btn btn-lg btn-primary" type="submit" value="Register">
        </form>
    </div>
</div>
{% endblock %}